.edit-profile-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-items: center;
}

.edit-profile-form h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.edit-profile-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.edit-profile-form input,
textarea {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #313131;
}

.edit-profile-form button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}

.edit-profile-form button:hover {
  background-color: var(--color-primary-hover);
}
